*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
/* @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }*/

body{
    background: #fff;
    height: 100%;
    background-image: url('images/bg1.jpg');
    /*animation: fadeIn 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
  }/*100% 100% or cover*/  

  


.todoListBox{
  width: 100%;
  max-width: 540px;
  background: rgb(103, 50, 23,0.5);
  color: #fff;
  height: auto;
  border-radius: 50px;
  padding: 40px 30px 70px;
  text-align: center;

}

.addBtn{
  border: 0;
  outline: 0;
  font-family: monospace;
  background-color: rgb(240, 136, 0);
  color: #000;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 45px;
  cursor: pointer;
  transition: .3s;
  position: relative;
  /*left: -30%;  Adjust this value to control the overlap */
  /*z-index: 1;  Ensure the button stays on top of the input */
}

.addBtn:hover{
  background-color: #fd0000;
  
  color: #fff;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  margin-bottom: 25px;
}

.row input{
  align-items: start;
  border: 0;
  outline: 0;
  background: transparent;
  color: #000000;
  padding: 10px 25px;
  height: 45px;
  border-radius: 50px;
  flex: 1;
  width: 69%;
  font-size: 14px;
  /*position: relative;  Ensure the input remains in the normal flow */
 /* z-index: 0;  Ensure the input stays behind the button */
}

.todoListBox h3{
  font-family: monospace;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todoListBox h3 img{
  width: 30px;
  margin-left: 10px;
  
}

ul li{
  list-style: none;
  font-size: 15px;
  text-align: left;
  padding: 12px 8px 12px 45px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  /*background-color: #000;*/
  border-radius: 100px;
}

ul li::before{
  content:'';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}

ul li.checked{
  color: #00f7ff;
  text-decoration: line-through;
}

ul li.checked::before{
  content:'';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/checked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}